// Roboto Mono
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap');
// Fredoka
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=Roboto+Mono:wght@300;400;500;600;700&display=swap');
$YW: #E8CA4C;


// Colors
$Pri: #E03131;
$Gr2: #E9ECEF;

$Gr3: #dee2e6;
$Gr4: #ced4da;
$Gr6: #adb5bd;
$Red7: #f03e3e;
$Backg: #F8F9FA;
$FontColor: #212529;



// Shadow
$SwRed: 0px 0px 2px 4px rgba($color: #f03e3e, $alpha: 1);
$SwRedOff: 0px 0px 0px 0px rgba($color: #f03e3e, $alpha: 1);